<template>
    <div>
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4">
                            <h1 class="mb-3 text-18">Forgot Password</h1>
                            <form action="">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input class="form-control form-control-rounded" id="email" type="email">
                                </div>
                                <button class="btn btn-primary btn-block btn-rounded mt-3">Reset Password</button>
                            </form>
                            <div class="mt-3 text-center">
                                <a class="text-muted" ><u><router-link to="/">Login ?</router-link></u></a>
                                <a class="text-muted" ><u><router-link to="/register">Create An Account?</router-link></u></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
name: "forgot"
}
</script>

<style scoped>

</style>
