<template>
    <div>
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4">
                            <div class="auth-logo text-center mb-4"></div>
                            <h1 class="mb-3 text-18">Sign In</h1>
                            <form @submit.prevent="login">
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input class="form-control form-control-rounded" id="email" type="email" v-model="form.email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control form-control-rounded" id="password" type="password" v-model="form.password">
                                </div>
                                <button class="btn btn-rounded btn-primary btn-block mt-2">Sign In</button>
                            </form>
                            <div class="mt-3 text-center">
                                <a class="text-muted" ><u><router-link to="/register">Create An Account?</router-link></u></a>
                                <a class="text-muted" ><u><router-link to="/forgot">Forgot Password ?</router-link></u></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<!--suppress JSAnnotator -->
<script type="text/javascript">
export default
{
    data(){
        return {
            form:{
                email : null,
                password : null,
            }
        }
    },
    methods:{
        login(){
            axios.post('/api/auth/login',this.form)
            .then(res => console.log(res.data))
            .catch(error => console.log(error.response.data))
        }
    }
}

</script>

<style type="text/css">

</style>
