<template>
    <div>
        <div class="auth-content">
            <div class="card o-hidden">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-4">
                            <h1 class="mb-3 text-18">Sign Up</h1>
                            <form>
                                <div class="form-group">
                                    <label for="username">Your name</label>
                                    <input class="form-control form-control-rounded" id="username" type="text">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input class="form-control form-control-rounded" id="email" type="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input class="form-control form-control-rounded" id="password" type="password">
                                </div>
                                <div class="form-group">
                                    <label for="repassword">Retype password</label>
                                    <input class="form-control form-control-rounded" id="repassword" type="password">
                                </div>
                                <button class="btn btn-primary btn-block btn-rounded mt-3">Sign Up</button>
                            </form>
                            <div class="mt-3 text-center">
                                <a class="text-muted" ><u><router-link to="/">Login ?</router-link></u></a>
                                <a class="text-muted" ><u><router-link to="/forgot">Forgot Password ?</router-link></u></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script type="text/javascript">

</script>

<style type="text/css">

</style>
